body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: linear-gradient(#d9d9d9, white);
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    color: #092532;
}

.header{
    width: 100%;
    padding-bottom: 10%;
    background-image: linear-gradient(45deg, #4dd2d1, #092532);
    position: relative;
}
.header img{
    max-width: 20%;
    height: auto;
    float: left;
    position: absolute;
    top: -18%;
    left: 6%;
}
.container{
    margin-top: 3em;
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items{
    width: 30%;
    background-color: #f1f1f1;
    margin: 12px;
    box-shadow: 0px 3px 8px #0000004d;
}
.img{
    width: 40%;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin: 5%;
}
.badge{
    position: relative;
}
.badge div{
    position: absolute;
    background-color: #4dd2d1;
    color:#092532;
    padding: 6px;
    width: 18px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    top: 5px;
    right: 0px;
}
.items .ctnText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15%;
    font-size: 1em;
    width:50%;
    text-align: left;
}
.items span{
    color:grey;
}
dialog {
    background-color: #f1f1f1;
    width: 90%;
    position: relative;
    top: 2em;
    border: 0px;
    padding-bottom: 4%;
    box-shadow: 0px 3px 8px #0000004d;
}
dialog .dlgContainer{
    width: 62%;
}
dialog .img{
    width: 19%;
    padding-bottom: 19%;
    margin: 1% 6% 0 5%;
}
dialog .dlgText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    padding: 2%;
}
dialog span {
    text-transform: uppercase;
    font-size: 0.9em;
    color: grey;
    margin: 2px;
}
dialog strong {
    text-transform: none;
    font-size: 1.2em;
    color:#092532
}
.clicked{
    background-color: #002a50;
    color:#f1f1f1;
}
.spanClicked{
    color:#f1f1f1 !important;
}
@media screen and (max-width:730px){
    .items{
        width: 26%;
    }
    .items .ctnText{
        font-size: 0.5em;
    }
    .badge div {
        padding: 2px;
        width: 10px;
        font-size: 0.5em;
        top: 1px;
        right: -1px;
    }
    dialog span {
        font-size: 0.7em;
    }
    
}
@media screen and (min-width:1000px){
    .badge div{
        top: 3px;
        right: 4px;
        width: 22px;
        padding: 8px;
        font-size: 1.2em;
    }
    .items strong{
        font-size: 1.4em;
    }
    .items span{
        font-size: 1.2em;
    }
}
@media screen and (min-width:1550px){
    .badge div {
        top: 10px;
        right: 4px;
        width: 35px;
        padding: 10px;
        font-size: 2em;
    }
    .items strong, dialog .dlgText{
        font-size: 2em;
    }
    .items span{
        font-size: 1.8em;
    }
}