body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: linear-gradient(#d9d9d9, white);
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    color: #092532;
}
.container{
    margin-top: 1em;
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items{
    width: 30%;
    background-color: #f1f1f1;
    margin: 12px;
    box-shadow: 0px 3px 8px #0000004d;
}
.img{
    width: 40%;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin: 5%;
}
.badge{
    position: relative;
}
.badge div{
    position: absolute;
    background-color: #4dd2d1;
    color:#092532;
    padding: 6px;
    width: 18px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    top: 5px;
    right: 0px;
}
.items .ctnText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15%;
    font-size: 1em;
    width:50%;
    text-align: left;
}
.items span{
    color:grey;
    font-size: 0.9em;
}
dialog[open=true]{
    display: flex;
}
dialog {
    background-color: #f1f1f1;
    width: 90%;
    position: relative;
    top: 2em;
    border: 0px;
    padding-bottom: 2%;
    box-shadow: 0px 3px 8px #0000004d;
}
dialog .dlgContainer{
    width: 62%;
}
dialog .img{
    width: 19%;
    padding-bottom: 19%;
    margin: 1% 6% 0 5%;
}
dialog .dlgText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    padding: 2%;
}
dialog span {
    text-transform: uppercase;
    font-size: 0.9em;
    color: grey;
    margin: 2px;
}
dialog strong {
    text-transform: none;
    font-size: 1.2em;
    color:#092532
}
.clicked{
    background-color: #002a50;
    color:#f1f1f1;
}
.spanClicked{
    color:#f1f1f1 !important;
}
.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-image: linear-gradient(45deg, #4dd2d1, #092532);
    position: relative;
    text-align: right;
}
.header img{
    width: 9em;
    height: auto;
    float: left;
    margin: -1em 2em -2em 2em;
}
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color:#f1f1f1;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #f1f1f1;
    margin: 0 10px;
    line-height: 70px;
    
}
#toggle {
    display: none;
    color:#f1f1f1;
}
@media only screen and (max-width: 540px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        z-index: 1;
        background-image: linear-gradient(45deg, #4dd2d1, #092532);
    }
    
}
@media screen and (max-width:730px){
    .items{
        width: 26%;
    }
    .items .ctnText{
        font-size: 0.5em;
    }
    .badge div {
        padding: 2px;
        width: 10px;
        font-size: 0.5em;
        top: 1px;
        right: -1px;
    }
    dialog span {
        font-size: 0.7em;
    }
    
}
@media screen and (min-width:1000px){
    .badge div{
        top: 3px;
        right: 4px;
        width: 22px;
        padding: 8px;
        font-size: 1.2em;
    }
    .items strong{
        font-size: 1.4em;
    }
    .items span{
        font-size: 1.2em;
    }
    .header img{ 
        margin: -1em 2em -2em 4em;
    }
}
@media screen and (min-width:1550px){
    .badge div {
        top: 10px;
        right: 4px;
        width: 35px;
        padding: 10px;
        font-size: 2em;
    }
    .items strong, dialog .dlgText{
        font-size: 2em;
    }
    .items span{
        font-size: 1.8em;
    }
}