body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: linear-gradient(#d9d9d9, white);
    background-attachment: fixed;
    text-align: center;
}
.header{
    width: 100%;
    padding-bottom: 10%;
    background-image: linear-gradient(45deg, #4dd2d1, #092532);
}
.container{
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
}
.items{
    width: 30%;
    background-color: #f1f1ef;
    margin: 12px;
    box-shadow: 0px 3px 8px #0000004d;
}
.items .img{
    width: 40%;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin: 5%;
}
.badge{
    position: relative;
}
.badge div{
    position: absolute;
    background-color: #4dd2d1;
    padding: 6px;
    width: 18px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    top: 5px;
    right: 0px;
}
.items .ctnText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15%;
    font-size: 1em;
    width:50%;
    text-align: left;
}
.items span{
    color:grey;
}
.items strong{
    color:#092532;
}
@media screen and (min-width:1000px){
    .badge div{
        top: 3px;
        right: 4px;
        width: 22px;
        padding: 8px;
        font-size: 1.2em;
    }
    .items .ctnText{
        font-size: 1.4em;
    }
}
@media screen and (max-width:730px){
    .items{
        width: 26%;
    }
    .items .ctnText{
        font-size: 0.7em;
    }
    .badge div{
        padding: 4px;
        width: 13px;
        font-size: 0.8em;
        top: 0px;
        right: -5px
    }
}
@media screen and (max-width:730px){
    .items .ctnText{
        font-size: 0.5em;
    }
    .badge div {
        padding: 2px;
        width: 10px;
        font-size: 0.5em;
        top: 1px;
        right: -1px;
    }
}
@media screen and (min-width:1550px){
    .badge div {
        top: 10px;
        right: 4px;
        width: 35px;
        padding: 10px;
        font-size: 2em;
    }
    .items .ctnText{
        font-size: 2em;
    }
}